.rappel-toggle-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 52px;
}

.rappel-toggle-label {
  font-size: 0.925rem;
  font-weight: 600;
  color: #475569;
  user-select: none;
}

.rappel-toggle-wrapper {
  position: relative;
  width: 40px;
  height: 22px;
}

.rappel-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.rappel-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 22px;
}

.rappel-toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.rappel-toggle-input:checked+.rappel-toggle-slider {
  background-color: #b41313ff;
}

.rappel-toggle-input:checked+.rappel-toggle-slider:before {
  transform: translateX(18px);
}

.rappel-toggle-status {
  font-size: 0.925rem;
  font-weight: 600;
  user-select: none;
}

.rappel-toggle-status.active {
  color: #b41313ff;
}

.rappel-toggle-status.inactive {
  color: #475569;
}